<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <style>
    body{
      background-image: url(../static/image/register.jpg);
      background-size: 100%;
      background-color: black;
    }
    form{
      float: right;
      margin-right: 700px;
      margin-top: 100px;
    }
    p{
      color: aqua;
    }
    button{
      color:black;
      padding: 10px;
      border-radius: 10px;
      background-color: aqua;

    }
  </style>
</head>
<body>
  <form method="POST">
    <p>Email</p>
    <input name='a' type="text">
    <p>Password</p>
    <input  name="b" type="password"><br><br>
    <button type="submit">Sign up</button>
  </form>
  
</body>
</html>