<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Sales</title>
  <link rel="stylesheet1" href="carform.html">
  <link rel="stylesheet2" href="home.html">
  <link rel="stylesheet3" href="search.html">
  <link rel="stylesheet4" href="login.html">
  <link rel="stylesheet5" href="sign.html">
  <style>
    body {
      background-image: url("../static/image/gtr.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
    }

    
    .btn{
     margin-left:1100px;
     margin-top: 10px;
    }
    .btn button{
      padding: 10px;
      border-radius: 4px 6px;
    }
    button:hover{
      color: red;
      background-color: beige;
    }
  </style>
</head>

<body>
  <div>
    <h1 style="float: right;color: aliceblue;margin-right: 200px;">Welcome to Car Sales!!!</h1>
  </div>
  <div class="btn">
    <a href="login"><button type="submit">Register</button></a>
    <a href="sign"><button type="submit">Sign in</button></a>
    
  <a href="home"><button type="submit">Home</button></a>
  <a href="search"><button type="submit">Search</button></a>
  
  
  </div>

</body>

</html>